---
import BlogLayout from "../../layouts/BlogLayout.astro";

import BlogPost from "../../components/BlogPost.astro";

const allPosts = await Astro.glob("../blog/posts/*.md");

const pageTitle = "Blog"

---

<BlogLayout pageTitle={pageTitle}>
    <div class="grid grid-cols-1 gap-6">
        {
            allPosts.map((post) => (
                    <BlogPost
                            url={post.url}
                            title={post.frontmatter.title}
                            image={post.frontmatter.image}
                            description={post.frontmatter.description}
                    />
            ))
        }
    </div>
</BlogLayout>
